<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autotest.LiuMa.database.mapper.DatabaseMapper">
  <insert id="saveDatabase" parameterType="com.autotest.LiuMa.database.domain.Database">
    insert into `database` (id, database_type, database_key, connect_info, environment_id, create_time, update_time, create_user, update_user)
    values (#{id}, #{databaseType}, #{databaseKey}, #{connectInfo}, #{environmentId}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    ON DUPLICATE KEY UPDATE
    update_time = #{updateTime}, update_user = #{updateUser}
    <if test="databaseType != null and databaseType != ''">
      ,database_type = #{databaseType}
    </if>
    <if test="databaseKey != null and databaseKey != ''">
      ,database_key = #{databaseKey}
    </if>
    <if test="connectInfo != null and connectInfo != ''">
      ,connect_info = #{connectInfo}
    </if>
  </insert>
  <select id="getDatabaseByName" parameterType="java.lang.String" resultType="com.autotest.LiuMa.database.domain.Database">
    select * from `database` where environment_id = #{environmentId} and database_key = #{databaseKey} and status=1
  </select>
  <select id="getDatabaseNameList" parameterType="java.lang.String" resultType="java.lang.String">
    select distinct(db.database_key) from `database` db left join environment env on env.id=db.environment_id
    where env.project_id = #{projectId} and db.status=1
  </select>
  <select id="getDatabaseList" parameterType="java.lang.String" resultType="com.autotest.LiuMa.dto.DatabaseDTO">
    select db.id, db.database_type, db.database_key, db.connect_info, db.environment_id, db.create_time, db.update_time,
    db.create_user, db.update_user from `database` db
    where db.environment_id = #{environmentId} and db.status=1 order by db.create_time desc
  </select>
  <delete id="deleteDatabase" parameterType="java.lang.String">
    update `database` set status=0 where id = #{id}
  </delete>
</mapper>