<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autotest.LiuMa.database.mapper.DomainSignMapper">
  <insert id="saveDomainSign" parameterType="com.autotest.LiuMa.database.domain.DomainSign">
    insert into `domain_sign` (id, name, description, project_id, create_time, update_time) values
    (#{id}, #{name}, #{description}, #{projectId}, #{createTime}, #{updateTime})
    ON DUPLICATE KEY UPDATE
    update_time = #{updateTime}
    <if test="name != null and name != ''">
      ,name = #{name}
    </if>
    <if test="description != null and description != ''">
      ,description = #{description}
    </if>
  </insert>
  <delete id="deleteDomainSign" parameterType="java.lang.String">
    delete from `domain_sign` where id = #{id}
  </delete>
  <select id="getDomainSignByName" parameterType="java.lang.String" resultType="com.autotest.LiuMa.database.domain.DomainSign">
    select * from domain_sign where project_id = #{projectId} and name = #{name}
  </select>
  <select id="getDomainSignList" parameterType="java.lang.String" resultType="com.autotest.LiuMa.database.domain.DomainSign">
    select * from domain_sign where project_id = #{projectId}
    <if test="condition != null and condition != ''">
      and name like #{condition}
    </if>
    order by create_time desc
  </select>
</mapper>