<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autotest.LiuMa.database.mapper.ReportCollectionCaseApiMapper">
  <insert id="batchAddReportCollectionCaseApi" parameterType="java.util.List">
    insert into report_collection_case_api (id, report_collection_case_id, case_api_index, api_id, api_name, api_path, description, exec_log, during, status)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.reportCollectionCaseId}, #{item.caseApiIndex}, #{item.apiId}, #{item.apiName}, #{item.apiPath},  #{item.description}, #{item.execLog},
      #{item.during}, #{item.status})
    </foreach>
  </insert>
  <select id="getReportCaseActionList" parameterType="java.lang.String" resultType="com.autotest.LiuMa.dto.ReportCollectionCaseTransDTO">
    select status, api_id as transId, api_name as transName, api_path as content, description, exec_log, concat(during, 'ms') as during from report_collection_case_api
    where report_collection_case_id = #{reportCaseId} order by case_api_index
  </select>
  <select id="getLastApiReport" parameterType="java.lang.String" resultType="java.lang.String">
    select rcca.exec_log from report_collection_case_api rcca
    left join report_collection_case rcc on rcc.id = rcca.report_collection_case_id
    where rcca.api_id = #{apiId} and rcca.status = 'success' order by rcc.end_time desc limit 1
  </select>
  <delete id="deleteByReportId" parameterType="java.lang.String">
    delete rcca from report_collection_case_api rcca
    left join report_collection_case rcc on rcc.id = rcca.report_collection_case_id
    left join report_collection rc on rc.id = rcc.report_collection_id
    where rc.report_id = #{reportId}
  </delete>
</mapper>